@import './reset.scss';

body {
	border: 5px solid #3e3e3e;
	border-radius: 10px;
}

.clip {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.flex {
	display: flex;
}

.button {
	-webkit-appearance: none;
	background: #fff;
	border-radius: 5px;
	line-height: 24px;
	padding: 0 0.5rem;
	border: 0;
	cursor: pointer;
	user-select: none;
}


.nav {
	display: flex;
	flex: none;
	width: 100%;

	> li {
		position: relative;

		> a {
			display: block;
			padding: 1rem;
      line-height: calc(48px - 2rem);
			text-decoration: none;
			transition: all .1s linear;
			border-bottom: 2px solid transparent;

			&:hover {
				border-bottom: 2px solid #73de73;
			}

      &.router-link-exact-active {
        border-bottom: 2px solid green;
      }
		}
	}
}