@import './reset.scss';

.nav {
	display: flex;
	flex: none;
	width: 100%;

	> li {
		position: relative;

		> a {
			display: block;
			padding: 1rem;
      line-height: calc(48px - 2rem);
      text-decoration: none;

      &.router-link-exact-active {
        border-bottom: 2px solid green;
      }
		}
	}
}